<section class="rooms">
	<ul class="rooms__list">
	  <li class="rooms__item">
		<div class="container">
		  <div class="rooms__wrap-top">
			<div class="rooms__desc-wrap">
			  <p class="rooms__hotel-slogan">Amet minim mollit non</p>
			  <p class="rooms__hotel-title">mimiho</p>
			  <h2 class="rooms__title">
				двомісний номер &#32;<span class="rooms__title-low">люкс</span>
			  </h2>
			  <p class="rooms__desc">
				Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
				sint. Velit officia consequat duis enim velit mollit. Exercitation
				veniam consequat sunt nostrud amet
			  </p>
			</div>
			<!-- Місце для картинок -->
			
		  </div>
		  <div class="rooms__wrap-bottom">
			<!-- Місце для слайдеру -->
				
			<!-- Кнопки "Детальніше" та "Переглянути ціни" -->
			<ul class="rooms__list-btn">
			  <li class="rooms__item-btn">
				<button class="btn"><a href="./room.html">Детальніше</a></button>
			  </li>
			  <li class="rooms__item-btn">
				<button class="btn">Переглянути ціни</button>
			  </li>
			</ul>
		  </div>
		</div>
	  </li>
	  </ul>
	  </section>